@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@import "tailwindcss";

/* Global Font */
* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

/* Hide Scrollbar (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  display: none;
}

/* Playfair Utility */
.font-playfair {
  font-family: "Playfair", serif !important;
}

/* Custom Utilities */
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
}
